<div class="controller-container">

  <div class="controls-container">
    <div class="controls">
      <div class="forward-button control-button">
        <img src="assets/icon/forward.svg">
      </div>
      <div class="left-button control-button">
        <img src="assets/icon/turn-left.svg">
      </div>
      <div class="stop-button control-button">
        <img src="assets/icon/forward.svg">
      </div>
      <div class="right-button control-button">
        <img src="assets/icon/turn-right.svg">
      </div>
      <div class="backward-button control-button">
        <img src="assets/icon/backward.svg">
      </div>
    </div>
    <div class="speed-input-container">
      <span class="regular-text">Speed</span>
      <div class="speed-input">
        <span class="primary-text">0</span>
        <input type="range" min="0" max="255" step="10">
        <span class="primary-text">255</span>
      </div>
    </div>
  </div>
  <div class="pid-container">

  </div>
  <div class="message-container">

  </div>
</div>
