<div class="controller-container">

  <div class="controls-container">
    <div class="controls">
      <div class="forward-button control-button">
        <img class="primary-icon" src="assets/icon/forward.svg">
      </div>
      <div class="left-button control-button">
        <img class="primary-icon" src="assets/icon/turn-left.svg">
      </div>
      <div class="stop-button control-button">
        <div class="stop-icon"></div>
      </div>
      <div class="right-button control-button">
        <img class="primary-icon" src="assets/icon/turn-right.svg">
      </div>
      <div class="backward-button control-button">
        <img class="primary-icon" src="assets/icon/backward.svg">
      </div>
    </div>
    <div class="speed-input-container">
      <span class="regular-text">Speed</span>
      <div class="speed-input">
        <span class="primary-text">0</span>
        <ion-range [min]="0" [max]="255" [pin]="true" [step]="5" [ticks]="false" [snaps]="true"></ion-range>
        <span class="primary-text">255</span>
      </div>
    </div>
  </div>
  <div class="pid-container">
    <h1 class="primary-text">PID Controller</h1>
    <div class="pid-inputs-container">
      <div class="pid-labels">
        <span class="regular-text">P</span>
        <span class="regular-text">I</span>
        <span class="regular-text">D</span>
      </div>
      <div class="pid-inputs">
        <input class="text-input">
        <input class="text-input">
        <input class="text-input">
      </div>
      <button class="pid-button">
        <span>Send PID</span>
        <img src="assets/icon/curve.svg">
      </button>
    </div>
  </div>
  <div class="message-container">
    <h1 class="primary-text">Terminal</h1>
    <span class="regular-text">Message</span>
    <input class="text-input">
  </div>
</div>
