

<div *ngIf="!deviceService.isLoadingDeviceBS.getValue()" class="devices-container">
  <ng-container *ngIf="devices.length > 0 else noDevice">
    <div class="device" *ngFor="let device of devices" (click)="selectDevice(device)">
      <img  class="device-icon" src="assets/icon/device.svg">
      <span class="regular-text">{{device.name}}</span>
    </div>
  </ng-container>

  <ng-template #noDevice>
    <p class="regular-text">No device found, try to refresh</p>
  </ng-template>
</div>

<div class="spinner-container" *ngIf="deviceService.isLoadingDeviceBS.getValue()">
  <ion-spinner name="crescent"></ion-spinner>
</div>

